[submodule "ldm/modules/flowmap/third_party/gmflow"]
	path = ldm/modules/flowmap/third_party/gmflow
	url = https://github.com/haofeixu/gmflow.git
	ignore = dirty

[submodule "ldm/modules/flowmap/third_party/searaft"]
	path = ldm/modules/flowmap/third_party/searaft
	url = https://github.com/princeton-vl/SEA-RAFT.git
	ignore = dirty

[submodule "ldm/modules/flowmap/third_party/raft"]
	path = ldm/modules/flowmap/third_party/raft
	url = https://github.com/princeton-vl/RAFT.git
	ignore = dirty

[submodule "ldm/thirdp/dust3r"]
	path = ldm/thirdp/dust3r
	url = https://github.com/naver/dust3r
	ignore = dirty

[submodule "ldm/thirdp/flowmap"]
	path = ldm/thirdp/flowmap
	url = https://github.com/dcharatan/flowmap.git
	ignore = dirty
